.card {
    width: 40rem;
    margin-bottom: 20px;
}
.card-no-img {
    height: 400px;
    max-width: 638px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}